/* global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  display: 0;
}

nav ul li {
  margin: 0 20px;
}

li {
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #ff6a00;
}

/* add this rule for dark mode */
body.dark-mode nav a {
  color: #fff;
}

.logo img {
  width: 100px;
  height: auto;
}

.cart {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}

.cart:hover {
  background-color: #555;
  color: #fff;
}

/* burger-menu */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu .line {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.burger-menu.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.burger-menu.active .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Light togle button */
.btn-dark {
  color: #fff;
  cursor: pointer;
  background-color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-dark:hover {
  background-color: #555;
}

/* Main section styles */

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
}

/* .container{
  margin: 35px 0;
} */

.product {
  text-align: center;
  margin: 50px 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
}

.product h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.product p {
  color: #666;
  margin-top: 10px;
}

.product button {
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ff6a00;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

/* Dark mode */
body.dark-mode {
  transition: all 0.5s ease-in-out;
  background-color: #333;
  color: #fff;
}

body.dark-mode h3, nav{
  color: #fff;
}

body.dark-mode p {
  color: #fff;
}

body.dark-mode .btn-dark{
  background-color: #fff;
  color: #333;
}

body.dark-mode .burger-menu .line{
  background-color: #fff;
}
/* Media Queries */

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active li {
    margin: 10px 0;
  }
}

/* @media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav ul{
    flex-direction: column;
    align-items: center;
  }

  nav ul li{
    margin: 10px 0;
  }

  .cart{
    margin-top: 10px;
  }

  .main{
    padding: 10px;
  }

  .product{
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
} */
